version: "2"
services:
  identifier:
    image: semtech/mu-identifier:1.3.0
    links:
      - dispatcher:dispatcher
      - datakart-raw-tracking-data-service:datakart-raw-tracking-data-service
    ports:
      - "80:80"
  dispatcher:
    image: semtech/mu-dispatcher:1.1.0
    links:
      - resource:resource
    volumes:
      - ./config/dispatcher:/config
  db:
    image: tenforce/virtuoso:1.0.0-virtuoso7.2.4
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    ports:
      - "8890:8890"
    volumes:
      - ./data/db:/data
  resource:
    image: semtech/mu-cl-resources:1.15.0
    links:
      - db:database
    volumes:
      - ./config/resources:/config
  datakart-raw-tracking-data-service:
    image: cecemel/datakart-raw-tracking-data-service:latest
    #ports:
    #  - "99:5000" #debugging
    volumes:
      #- /Users/felix/git/datakart/datakart-raw-tracking-data-service:/app # for debugging
      - ./data/datakart-raw-tracking:/data
  import:
    image: cecemel/datakart-import-data:latest
    links:
      - dispatcher:mu-host
